@tailwind base;
@tailwind components;
@tailwind utilities;

[data-color-scheme="dark"] {
	color-scheme: dark;
}

[data-color-scheme="light"] {
	color-scheme: light;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 5.9% 10%;
		--card: 0 0% 100%;
		--card-foreground: 240 5.9% 10%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--primary: 24 9.8% 10%;
		--primary-foreground: 0 0% 100%;
		--secondary: 240 5.9% 10%;
		--secondary-foreground: 0 0% 100%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--alert: 0 84.2% 60.2%;
		--alert-foreground: 0 0% 98%;
		--ring: 240 5.9% 10%;
		--border-width: 0px;
		--border-radius: 1rem;
		--shadow-base: 0 1px 2px 0 rgba(0, 0, 0, 0.01);
		--shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
		--shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0px rgba(0, 0, 0, 0.1);
		--shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
		--shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
		--shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
		--shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 1);
		--shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.01);
		--transform-press: scale(0.95);
	}

	.dark {
		--background: 0 0% 100%;
		--foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 5.9% 10%;
		--card: 0 0% 100%;
		--card-foreground: 240 5.9% 10%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--primary: 24 9.8% 10%;
		--primary-foreground: 0 0% 100%;
		--secondary: 240 5.9% 10%;
		--secondary-foreground: 0 0% 100%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--alert: 0 84.2% 60.2%;
		--alert-foreground: 0 0% 98%;
		--ring: 240 5.9% 10%;
		--border-width: 0px;
		--border-radius: 1rem;
		--shadow-base: 0 1px 2px 0 rgba(0, 0, 0, 0.01);
		--shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
		--shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0px rgba(0, 0, 0, 0.1);
		--shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
		--shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
		--shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
		--shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 1);
		--shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.01);
		--transform-press: scale(0.95);
	}
}
